USE [master]
GO
/****** Object:  Database [BIKESMODEL]    Script Date: 16-10-2019 05:26:45 PM ******/
CREATE DATABASE [BIKESMODEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIKESMODEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKESMODEL.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BIKESMODEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BIKESMODEL_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIKESMODEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIKESMODEL]
GO
/****** Object:  Schema [PRODUCTION]    Script Date: 16-10-2019 05:26:45 PM ******/
CREATE SCHEMA [PRODUCTION]
GO
/****** Object:  Schema [SALES]    Script Date: 16-10-2019 05:26:45 PM ******/
CREATE SCHEMA [SALES]
GO
/****** Object:  Table [dbo].[person]    Script Date: 16-10-2019 05:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[person](
	[person_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NOT NULL,
	[dob] [date] NULL,
	[full_name]  AS (([first_name]+' ')+[last_name]),
 CONSTRAINT [PK__persons__543848DFC54C1922] PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[CUSTOMERS]    Script Date: 16-10-2019 05:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[CUSTOMERS](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[ORDERED_ITEMS]    Script Date: 16-10-2019 05:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SALES].[ORDERED_ITEMS](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[order_quantity] [int] NOT NULL,
	[unit_price] [int] NOT NULL,
	[order_amount]  AS ([order_quantity]*[unit_price])
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[QUATATIONS]    Script Date: 16-10-2019 05:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SALES].[QUATATIONS](
	[quatation_no] [int] IDENTITY(1,1) NOT NULL,
	[valid_from] [date] NOT NULL,
	[valid_to] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[quatation_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[STAFFS]    Script Date: 16-10-2019 05:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STAFFS](
	[staff_id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[store_id] [int] NOT NULL,
	[email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STORES]    Script Date: 16-10-2019 05:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STORES](
	[store_id] [int] IDENTITY(1,1) NOT NULL,
	[store_name] [varchar](20) NOT NULL,
	[phone] [varchar](10) NULL,
	[email] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [SALES].[STAFFS]  WITH CHECK ADD  CONSTRAINT [fk_staffs_stores] FOREIGN KEY([store_id])
REFERENCES [SALES].[STORES] ([store_id])
GO
ALTER TABLE [SALES].[STAFFS] CHECK CONSTRAINT [fk_staffs_stores]
GO
ALTER TABLE [SALES].[ORDERED_ITEMS]  WITH CHECK ADD CHECK  (([order_quantity]>(0)))
GO
ALTER TABLE [SALES].[ORDERED_ITEMS]  WITH CHECK ADD CHECK  (([unit_price]>(0)))
GO
USE [master]
GO
